/**
 * Place your custom CSS styles here.
 **/
@font-face {
    font-family: 'Noto';
    src: url('chrome-extension://__MSG_@@extension_id__/src/inject/NotoUrdu.ttf');
}

:lang(ur) 	{
	font-family: 'Noto'!important;
	direction:rtl;
	line-height: 3rem;
}

*[dir="rtl"], .tweet-text-rtl, .u-dir[dir="rtl"] {
	font-family: 'Noto'!important;
	direction:rtl;
	line-height: 3rem;
}

.TweetTextSize:lang(ur) {
    line-height: 3rem;
    font-size: 1rem;
}

.TweetTextSize.TweetTextSize--jumbo:lang(ur) {
	line-height: 4rem;
    font-size: 1.5rem;
}

h1.AdaptiveSearchTitle-title[dir="rtl"] {
    font-size: 1.2em;
    line-height: 3.3em;
}